[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/lumberjack"]
	path = extern/lumberjack
	url = git@github.com:neotecdigital/lumberjack.git
[submodule "extern/OATS-rs"]
	path = extern/OATS-rs
	url = git@github.com:NeoTecDigital/OATS-rs.git
